.git
.gitignore
.github
config.yaml
platforms.yaml
.pytest_cache
.venv
__pycache__
*.bak
*.log
*.py[cod]
experimental
runtime
tests
cogs/namegen/originals/
data/guilds/
data/secrets/
secrets/
*.secrets