*.db
__pycache__/
.tmp.drivedownload/
.tmp.driveupload/
.vs/
.vscode/
.env

# configuration files with personal keys
client_secrets.json
credentials.json
servers.txt
service_account.json
storage.json
eyebot.cfg
logs/
experimental/

config.yaml